.m-forminput.m-form-input-radio.had-focus {
  width: 100%;
}

@media (min-width: 990px) {
  .SummaryHeader {
    margin-bottom: 1.5rem !important;
  }

  .FeaturesContainer {
    height: 60vh;

    .FeaturesList {
      height: 55vh;

      .FeatureText {
        font-size: 1.2rem !important;
      }
    }

    .SummaryImageContainer {
      height: 40vh;
      .SummaryImage {
        height: 40vh;
      }
    }
    .PriceText {
      margin-bottom: 2rem !important;
    }
  }
}
