/* ------------------------------------ *\
    #FORMS
\* ------------------------------------ */

input,
textarea,
select {
    border: 1px solid gray;
    border-radius: 0;
    background: #fff;
}

.form-row {
	display: block !important;
}

// WEBPACK FOOTER //
// ./src/scss/global/_04-e-forms.scss