/* ------------------------------------ *\
    #CONTAINER
\* ------------------------------------ */

// Container Width
$container-width:       1088px;

// Container left and right padding
$container-padding-l-r:       36px;
 

// Container left and right padding
$container-top-padding: 40px;


//
// An outer container for site content. A container should never be a child or
// instance of itself.
//
.o-container {
    position: relative;
    padding: 0 20px 20px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 50px;
    max-width: $container-padding-l-r + $container-width + $container-padding-l-r;

    @include media('sm') {
    	padding: 0 30px;
    }

    @include media('md') {
        margin-bottom: 0;
    	padding: 0 36px 30px;
    }
}

// WEBPACK FOOTER //
// ./src/scss/global/_05-o-container.scss