/* ------------------------------------ *\
    #MEDIA
\* ------------------------------------ */


.o-media {
    display: flex;
    align-items: end;
    margin-bottom: spacer(1);
    width: 100%;

    @include media('sm') {
        align-items: center;
    }
}

.o-media__block {
    & + & {
        padding-left: 20px;
    }
}



// WEBPACK FOOTER //
// ./src/scss/global/_05-o-media.scss