.c-nav__desktop {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    margin-bottom: 40px;
}

.c-nav__desktop-wrapper {
    display: none;

    @include media('md') {
      display: block;
    }
}


.c-nav__desktop-item {
  position: relative;
  font-size: 18px;
  color: #b4b4b4;
  cursor: default;
}

.c-nav__desktop-item--active {
  color: #4484A6;
  
  // &:after {
  //   content: '';
  //   bottom: -10px;
  //   left: 0;
  //   position: absolute;
  //   width: 100%;
  //   height: 5px;
  //   background-color: #4484A6;
  // }
}

// MOBILE 
.c-nav__mobile-wrapper {
  display: block;
  margin: 0 14px;

  @include media('md') {
    display: none;
  }
}

.c-nav__mobile {
  text-align: center;
  border-radius: $site-radius;
  background-color: #E8E9E9;
  padding: 15px;
}

.c-nav__mobile-item {
  position: relative;
  font-size: 18px;
  color: #b4b4b4;
  cursor: default;
  display: none;
}

.c-nav__mobile-item--active {
  display: list-item;
  font-size: 16px;
  font-family: 'boschsans-bold';
  color: black;
}