.c-groups {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	@include media('sm') {
		flex-direction: row;
	}
}

.c-groups__text-wrapper {
	width: 100%;

	@include media('sm') {
		min-width: 50%;
		flex-basis: 50%;
	}
}

.c-groups__journey-wrapper {
	width: 100%;

	@include media('sm') {
		min-width: 50%;
		flex-basis: 50%;
	}
}