.c-summary__img-wrapper {
	padding: 30px;
	padding-top: 0;
}

.c-summary__img {
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
}


.c-summary__price-wrapper {
	text-align: center;
}

.c-summary__price {
	font-family: 'boschsans';
	font-size: 24px;
}

.c-summary__price {
	margin-bottom: 0;
	margin-top: 20px;
}