.c-description__wrapper {
	position: absolute;
  bottom: 0;
  left: 0;
}

.c-description__text {
	background-color: rgba(255, 255, 255, 0.7);
	font-size: 12px;
	padding: 10px 20px;

	@include media('md') {
		font-size: 18px;
		padding: 10px 36px;
	}
}

.c-description__toggle {
	text-align: center;
	position: absolute;
	top: -16px;
	left: 0;
	right: 0;
	margin: auto;
  animation: MoveUpDown 1.3s ease infinite;
}

.c-description__toggle img {
	max-width: 35px;
  background: white;
  border-radius: $site-radius;
  padding: 5px;
	opacity: 0.9;
  margin-bottom: 0;
}

@keyframes MoveUpDown {
  0%, 100% {
    top: -16px;
  }
  50% {
    top: -21px;
  }
}