.c-heading-44 {
	font-size: 30px;
	line-height: 1.2;
	letter-spacing: 0px;

	@include media('sm') {
		font-size: 38px;
    line-height: 1.2;
    letter-spacing: 0;
	}
}

.c-heading-26 {
	font-size: 16px;
	line-height: 21px;
  letter-spacing: -1px;

	@include media('sm') {
		font-size: 22px;
    line-height: 29px;
    letter-spacing: -1px;
	}
}