.c-header {
	// margin-top: 60px;

	@include media('sm') {
		margin-top: 0;
	}
}

.c-header__wrapper {
	position: relative;
	display: flex;

	@include media('md') {
		display: inline-block;	
	}
}

.c-header__logo-link--mobile {
	
	display: block;
	width: 151px;
	margin-bottom: 18.5px;
	margin-left: auto;
	
	& img {
		margin-left: 36px;
	}

	@include media('md') {
		display: none;
	}
}
.c-header__logo-link--desktop {
	display: none;

	@include media('md') {
    display: block;
    max-width: 200px;
    width: 14vw;
    min-width: 160px;
	}
}