.c-feature {
	display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  // margin: 0 14px;
	
	@include media('md') {
		flex-direction: row;
		// margin: 0;
	}
}

.c-feature:not(:last-child) {
	// margin-bottom: 50px;
}

.c-feature__options, 
.c-feature__wrapper {
	flex: 1 1 50%;
	margin: 0 14px;
	// margin-left: 0;
}

.c-feature__img > p {
  padding-top: 10px;
}

.c-feature__wrapper {
	position: relative;
	// margin-left: 0px;

	@include media('md') {
		// max-height: 70vh;
    // overflow-y: scroll;
    
	}
}

.c-feature__options {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include media('md') {
		// max-height: 70vh;
	}
	// margin-left: 0px;
}

.c-feature__link {
	color: lightblue;
	padding-bottom: 5px;
}

.c-feature__options--summary {
	@include media('md') {
		overflow-y: auto;
	}
}

.c-feature__description {
	width: 100%;
	height: 100%;
}



.c-feature__option {
	margin-left: 14px;
	margin-right: 14px;
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	width: 100%;
	border: 2px solid #4484A6;
	border-radius: $site-radius;
}

.c-feature__description {
	display: flex;
  height: 100%;
  width: 100%;
  background-color: #E8E9E9;
  border-radius: $site-radius;
}

.c-feature__option:not(:last-child) {
	margin-bottom: 12px;
}

.c-feature__label,
.c-feature__description-text-wrapper {
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: column-reverse;
}

.c-feature__img {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 0;
    // margin-bottom: 30px;
    // border: 2px solid #E8E9E9;
    // border-top-right-radius: 8px;
    // border-top-left-radius: 8px;
    border-bottom: none;
    overflow: hidden;

    @include media('md') {
    	// max-width: 85%;
    }
}


.c-feature__description-text-wrapper  {
	cursor: default;
	padding: 20px;
}

.c-feature__description:not(:last-child)  {
	margin-bottom: 12px;
}

.c-feature__label input {
	display: none;
}

.c-feature__label-bg {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: transparent;
	z-index: -1;
	transition: background-color 300ms ease;
}


.c-feature__label-text {
	font-family: $base-font-family;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-size: 14px;
	width: 100%;
  padding: 0 20px;

	@include media('sm') {
		font-size: 20px;
	}
}

.c-feature__description-text {
	font-family: $base-font-family;
	font-size: 14px;
	width: 100%;
  // padding: 0 20px;

	@include media('sm') {
		font-size: 20px;
	}
}

.c-feature__label:hover .c-feature__label-text {
	font-family: 'boschsans-bold';
}


.c-feature__option--disabled {
	border-color: #E8E9E9;
}

.c-feature__label:hover input[disabled] ~ .c-feature__label-text {
	font-family: 'boschsans';
	color: rgba(0, 0, 0, 0.5);
}

.c-feature__label input[disabled] ~ .c-feature__label-text {
	color: rgba(0, 0, 0, 0.5);
}

.c-feature__label input[type="radio"]:checked ~ .c-feature__label-text {
	color: white;
	font-family: 'boschsans-bold';
}

.c-feature__label input[type="radio"]:checked ~ .c-feature__label-bg {
	background-color: #4484A6;
}


.c-feature__label input[disabled] ~ .c-feature__label-bg {
	z-index: 10;
	cursor: default;
}

// .c-feature__label:hover input[disabled] ~ .c-feature__label-text {
// 	font-family: $base-font-family;
// }

.c-feature__description-text-wrapper--summary {
	font-size: 17px;
}

.c-feature__description--summary {
	max-height: 150px;
}


.c-feature__description-text--summary {

	@include media('md') {
		font-size: 18px;
	}
}


.c-feature__description--mobile {
	display: block;
	margin: 0 14px;
	margin-bottom: 14px;

	@include media('md') {
		display: none;
	}
}

.c-feature__description--desktop {
	display: none;

	@include media('md') {
		display: flex;
	}
}

.c-feature__options--mobile {
	margin-bottom: 14px;
	display: flex;
	
	@include media('md') {
		display: none;
	}
}

.c-feature__options--mobile .c-feature__label {
	height: 38px;
}


.c-feature__options--desktop {
	display: none;
	
	@include media('md') {
		display: flex;
	} 
}


.c-feature__img-mobile {
	display: block;
	text-align: center;

	@include media('md') {
		display: none;
	}
}

.c-feature__img-desktop {
	display: none;

	@include media('md') {
		display: block;
	}
}

.c-feature__img-mobile img {
	max-height: 450px;
	padding: 0 20px;

	@include media('md') {
		max-height: none;
	}
}

.c-feature__img-desktop img {
	margin-bottom: 0;
}

.c-feature__description:last-child {
	margin-bottom: 18px;

	@include media('md') {
		margin-bottom: 0;
	}
}