.c-footer__list {
  display: flex;
  flex-direction: row;
}

.c-footer__item {
  padding-left: 10px;
  font-size: 12px;

  @include media('sm') {
  	font-size: inherit;
  	padding-left: 20px;
  }
}

.c-footer__item:first-child {
	padding-left: 0px;
}

