.c-nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.c-nav__item {
	position: relative;
	font-size: 18px;
  color: #b4b4b4;
  cursor: default;
}

.c-nav__item--active {
  color: #4484A6;
	
  &:after {
  	content: '';
  	bottom: -10px;
  	left: 0;
  	position: absolute;
		width: 100%;
		height: 5px;
		background-color: #4484A6;
  }
}
