/* ------------------------------------ *\
    #TEXT UTILITIES
\* ------------------------------------ */

//
// Text Alignment
//
.u-text-center {
    text-align: center;
}


.u-font-base {
    font-family: $base-font-family;
}


.u-type-bold {
	font-family: 'boschsans-bold', Arial;
}


// WEBPACK FOOTER //
// ./src/scss/global/_07-u-type.scss