/* ------------------------------------ *\
    #SPACING UTILITIES
\* ------------------------------------ */


// Spacing utilities at different breakpoints
$spacing-config: (
    'none':  0,
    '10':   10px,
    '20':   20px,
    '40':   40px,
    '45':   45px,
    '42':   42px,
    '60':   60px,
    '100': 100px,
    '110': 110px,
    '120': 120px,
    '145': 145px,
    '150': 150px,
    '200': 200px,
    '220': 220px,
);


@include loop-breakpoints() {
    @each $spacing-name, $spacing-value in $spacing-config {
        @at-root .u-spacing-#{$spacing-name}#{&} {
            margin-bottom: $spacing-value;
        }
    }
}

.u-spacing-left-120 {
    @include media('xl') {
        margin-left: 120px;
    }
}



// WEBPACK FOOTER //
// ./src/scss/global/_07-u-spacing.scss