.modal {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 40px;
  background-color: white;
  width: 85vw;
  max-width: 800px;
  margin: 0 auto;
  overflow: auto;
  padding: 20px 40px 20px 35px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 9999;
}