.CustomHeaderContainer {
  display: flex !important;
  justify-content: space-between;
  //   width: 100%;
  //   max-width: 100%;

  .ButtonContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    .HeaderButton {
      margin-top: 32px;
      max-width: 200px;
      width: 14vw;
      min-width: 160px;
      //   height: 20%;
    }

    .HeaderButton:hover {
      color: white;
      background-color: #4484a6;
    }
  }
}

@media (max-width: 990px) {
  .CustomHeaderContainer {
    .ButtonContainer {
      height: auto;
      .HeaderButton {
        margin-top: 16px;
        height: 3rem;
        .HeaderButtonText {
          display: block;
        }
      }
    }
  }
}
